<div id="main">
<center>
<form class='loginform' method='POST' action:'/signup'>
<div>
	<h2>Enter Your Info To Sign-Up!</h2> 
	<div>
	<div class="input-group">
	<span class="input-group-addon" id="namespan" >Name</span><input type="text" class="form-control"  aria-describedby="namespan" name="name" value="<%= @params['name']%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="addrspan" >Address</span><input type="text" class="form-control"  aria-describedby="addrspan" name="address" value="<%= @params['address']%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="cityspan" >City</span><input type="text" class="form-control"  aria-describedby="cityspan" name="city" value="<%= @params['city']%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="statespan" >State</span><input type="text" class="form-control" size="2"  aria-describedby="statespan" name="state" value="<%= @params['state']%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="zipcodespan" >Zip</span><input type="text" class="form-control" size="5"  aria-describedby="zipcodespan" name="zipcode" value="<%= @params['zipcode']%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="radiusspan" >Search Radius</span><select class="form-control" aria-describedby="radiusspan" name="radius">
	  <option> </option>
	  <option value='10'>10 miles</option>
	  <option value='20'>20 miles</option>
	  <option value='30'>30 miles</option>
	  <option value='40'>40 miles</option>
	  <option value='50'>50 miles</option>
	</select>
	</div>
	<div class="input-group" >
	<span class="input-group-addon" id='emailspan' >Email</span><input type="text" class="form-control" aria-describedby="emailspan" id="email" name="email" value="<%= @params['email']%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="passwordspan" >Password</span><input class="form-control" type="password" aria-describedby="passwordspan" name="password">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="confirmspan" >Confirm</span><input class="form-control" type="password" aria-describedby="confirmspan" name="confirm">
	</div>
	<div class="alert alert-danger" role="alert" style="display:none" id="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <span id='flash'>Test</span>
</div>
	<button value="submit" class="btn btn-success">Submit!</button>
	</div>
</form>
</center>
</div>
