<div class="container-fluid" id="main">
<div class="bulletin col-md-10">
<h3>Your User Info</h3><br>
<h4>Lost/Found pet bulletins you've created:</h4>
<% @mylostposts.each{|p| %>
	<p><a href="/lost/<%= p.id %>"> <%= p.name %> </a></p>
	<% } %>
	<% @myfoundposts.each{|p| %>
	<p><a href="/lost/<%= p.id %>"> <%= p.name %> </a></p>
	<% } %>
<h4>Posts you've commented on:</h4>
<% @mylcomments.each{|p| %>
	<p><a href="/lost/<%= p.id %>"> <%= p.name %> </a></p>
	<% } %>
</div>

</div>