<div class="container-fluid" id="content">
		<h2>Edit Profile</h2>
	<div class="alert alert-success" role="alert" style="display:none" id="successflash">
	  	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  	<span class="sr-only">Error:</span>
	  	<span id='success'>Test</span>
	</div>
	<form method='POST' action ='/profile'> 
	<div class="input-group">
	<span class="input-group-addon" id="namespan" >Name</span><input type="text" class="form-control"  aria-describedby="namespan" name="name" value="<%= @user.name %>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="addrspan" >Address</span><input type="text" class="form-control"  aria-describedby="addrspan" name="address" value="<%= @user.street_address %>">
	</div>
		<div class="input-group">
	<span class="input-group-addon" id="cityspan" >City</span><input type="text" class="form-control"  aria-describedby="cityspan" name="city" value="<%= @user.city %>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="statespan" >State</span><input type="text" class="form-control" size="2"  aria-describedby="statespan" name="state" value="<%= @user.state %>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="zipcodespan" >Zip</span><input type="text" class="form-control" size="5"  aria-describedby="zipcodespan" name="zipcode" value="<%= @user.zipcode %>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="radiusspan" >Search Radius</span><select class="form-control" aria-describedby="radiusspan" name="radius" value="<%= @user.radius %>">
	  <option> </option>
	  <option value='10'>10 miles</option>
	  <option value='20'>20 miles</option>
	  <option value='30'>30 miles</option>
	  <option value='40'>40 miles</option>
	  <option value='50'>50 miles</option>
	</select>
	</div>
	<div class="input-group" >
	<span class="input-group-addon" id='emailspan' >Email</span><input type="text" class="form-control" aria-describedby="emailspan" id="email" name="email" value="<%= @user.email_address%>">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="passwordspan" >Password</span><input class="form-control" type="password" aria-describedby="passwordspan" name="password">
	</div>
	<div class="input-group">
	<span class="input-group-addon" id="confirmspan" >Password</span><input class="form-control" type="password" aria-describedby="confirmspan" name="confirm">
	</div>
	<div class="alert alert-danger" role="alert" style="display:none" id="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <span id='flash'>Test</span>
</div>
	<br>
	<button value="submit" class="btn btn-success">Submit!</button>
</form>


</div>
