<div class="container-fluid" id="main">
<div class="bulletin col-md-10">
<h3><%= @info['name'] %></h3>
<p>Breed: <%= @info['animal_breed'] %></p>
<p>Gender: <%= @info['animal_gender'] %></p>
<p>Comments: <%= @info['comment'] %></p>
<p>Lost since: <%= @info['date_lost'] %></p>
<p>Lost at/last seen at: <%= @info['where_lost'] %></p>
<p>Chip manufacturer: <%= @info['chip_manufacturer'] %></p>
<p>Chip id: <%= @info['chip_id'] %></p>

</div>
</div>