<div class="container-fluid" id="main">
<div class="idbulletin col-md-10">
<h3><%= @info['name'] %></h3>
<img src= <%= @picurl %>><br><br>
<p>Breed: <%= @info['animal_breed'] %></p>
<p>Gender: <%= @info['animal_gender'] %></p>
<p>Comments: <%= @info['comment'] %></p>
<p>Lost since: <%= @info['date_lost'] %></p>
<p>Lost at/last seen at: <%= @info['where_lost'] %></p>
<p>Chip manufacturer: <%= @info['chip_manufacturer'] %></p>
<p>Chip id: <%= @info['chip_id'] %></p>
</div>

<div class="comments col-md-12"><p>Add a new comment:</p><form method="post" action="<%= @info.id %>/message">
<textarea class="commentbox" name="message"></textarea><br>
<input type="submit">
</form>
<h4>Replies</h4>
</div>

</div>

<script>
$(document).ready(function(){
var print_comments = function (comments){
		_.each(comments,function(c){
			console.log(c)
		$('.comments').append(commentsTemplate(c))
			})
	}

	print_comments(<%= @messages %>)

}) //end doc ready
</script>
