<div class="container-fluid" id="main">
<div class="bulletin col-md-10">
<h3><%= @info['name'] %></h3>
<p>Breed: <%= @info['animal_breed'] %></p>
<p>Gender: <%= @info['animal_gender'] %></p>
<p>Comments: <%= @info['comment'] %></p>
<p>Found on: <%= @info['date_lost'] %></p>
<p>Found at: <%= @info['where_lost'] %></p>
<p>Chip manufacturer: <%= @info['chip_manufacturer'] %></p>
<p>Chip id: <%= @info['chip_id'] %></p>

</div>
<div class="comments col-md-12">
<h4>Replies</h4><p>Add a new comment:</p><form method="post" action="post/<%= @info.id %>/comment">
<textarea class="commentbox" name="message"></textarea><br>
<input type="submit">
</form>
</div>

</div>

<script>
$(document).ready(function(){
var print_comments = function (comments){
		_.each(comments,function(c){
			console.log(c)
		$('.comments').append(commentsTemplate(c))
			})
	}

	print_comments(<%= @messages %>)

}) //end doc ready
</script>